{% extends 'base.html' %}
{% block content %}
<div class="container">
    <ul>
        <li><h3>Unidad 1: Elementos de la probabilidad</h3></li>
        <li><h3>Unidad 2: Variables aleatorias discretas y continuas</h3></li>
        <li><h3>Unidad 3: Distribuciones de probabilidad para VAD y VAC</h3></li>
        <li><h3>Unidad 4: Distribucion multivariable de variables aleatorias</h3></li>
        <li><h3>Unidad 5: Estadistica parametrica usando estimacón y prueba de hipotesis.</h3></li>    
    </ul>
    <div class="container">
        <a href="https://app.box.com/v/proba-2cv10"><button class="btn btn-success btn-lg btn-block">Recursos</button></a>  
    </div>
</div>
{% endblock content %}
